@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #f2f2f2;
  padding: 0;
  margin: 0;
  height: 100%;
}

.page-container {
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 #00000033;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
display: flex;
}

.navigation {
  display: flex;
  align-items:center;
  margin-left: 30px;
}

.logo {
  margin-left: 70px;
}

.navigation-list {
  width: 450px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.navigation-user {
  max-width: 310px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.favourite-option {
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  text-align: center;
  width: 20px;
  height: 20px;
  background-color: #7db54f;
  border-radius: 50%;
  padding: 4px 5px;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  padding: 8px 50px;
}

.header-button {
  padding: 8px 34px;
}

.booking-button {
  display: block;
  box-sizing: border-box;
  width: 376px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 36px;
}

.subscribe-button {
  font-family: inherit;
  margin: 0;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
}

.accept-button {
  background-color: #82b3d3;
}

.reset-button {
  background-color: transparent;
}

.shown-button {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  text-decoration: none;
  color: #000000;
}

.shown-button-active {
  border: 2px solid #000000;
  border-radius: 4px;
}

.favourite-button {
  background: #82b3d3;
}

.favourite-button-active {
  background: #7db54f;

}

.main-index {
  text-align: center;
}

.main-container {
  flex-grow: 1;
}

.welcome {
  background-image: url("../images/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #000000;
  background-color: #6999c1;
  padding: 51px 0 77px;
  margin-bottom: 69px;
}

.advantages {
margin-bottom: 61px;
}

.advantages-slogan {
  width: 650px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 auto 25px;
}

.advantages-intro {
  padding: 0;
  margin: 0 auto 90px;
  width: 700px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  list-style: none;
}

.advantages-item {
  box-sizing: border-box;
  padding: 113px 85px;
  width: 400px;
  min-height: 385px;
}

.advantages-wrapper {
  padding: 102px 85px;
}

.advantages-title {
  padding: 0;
  margin: 0 auto;
  width: 175px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.blue {
  width: 100%;
  display:  flex;
  padding: 0;
  background-color: #82b3d3;
  color: #ffffff;
}

.blue .advantages-title {
  color: #ffffff;
}

.lightblue {
  background-color: rgba(131, 179, 211, 0.12);
}

.stillblue {
  background-color: rgba(131, 179, 211, 0.2);
}

.services-slogan {
  width: 515px;
  margin: 0 auto 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.services-intro {
  width: 500px;
  margin: 0 auto 63px;
}

.services-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background-color: #ffffff;
  color: #333333;
}
.services-item {
  box-sizing: border-box;
  width: 400px;
  min-height: 385px;
  padding: 80px 85px;
}

.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.services-description {
  width: 230px;
}

.booking {
  margin: 0;
  padding: 96px 304px;
}

.booking-slogan {
  margin: 0 auto 20px;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.booking-intro {
  width: 592px;
  margin: 0 auto 54px;
}

.subscribe {
  margin: 0;
  padding: 96px 258px 104px;
  color: #ffffff;
  background-color: #6999c1;
  background-image: url("../images/Subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-title {
  margin: 0 auto 20px;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-description {
  width: 480px;
  margin: 0 auto 55px;
}

.subscribe-form {
  display: flex;
  margin:0;
  padding: 0;
}

.field {
  font-family: inherit;
  width: 450px;
  padding-left: 20px;
  word-spacing: normal;
  background-color: #F2F2F2;
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  border-radius: 4px 0 0 4px;
  border-width: 0;
}

.page-footer {
  margin: 0;
  padding: 40px 70px 30px;
  display: flex;
  justify-content: space-between;
}

.footer-social-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-link {
  display: block;
  width: 40px;
  height: 40px;
}

.vk-icon {
  background-image: url("../images/Icons/vk.svg");
  background-repeat: no-repeat;
}

.tg-icon {
  background-image: url("../images/icons/telegramm.svg");
  background-repeat: no-repeat;
}

.yt-icon {
  background-image: url("../images/icons/youtube.svg");
  background-repeat: no-repeat;
}

.footer-contact-phone {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
}

.filters-container {
  background-color: #6999C1;
  color: #ffffff;
  background-image: url("../images/filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.catalog-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.catalog-filter-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.control-input {
  font-size: 18px;
  line-height: 23px;
}

.results-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.shown-option {
  list-style: none;
}

.product-list {
  list-style: none;
}

.product-card-text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.product-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background: #F2F2F2;
  border-radius: 4px;
}

.pagination {
  list-style: none;
}

.pagination-link {
  background-color: #82B3D3;
  color: #ffffff;
  border-radius: 4px;
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 11px;
  padding-bottom: 13px;
  padding-left: 23px;
  padding-right: 23px;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-gap {
  background-color: #ffffff;
  color: #000000;
}

.catalog-subscribe {
  background-color: #ffffff;
  text-align: center;
}

.subscribe-catalog-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}
